<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">{{dialogData.action}} Category</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="categoryForm" class="form-column">
    <mat-form-field appearance="fill">
      <mat-label>Category Name</mat-label>
      <input matInput formControlName="name" required placeholder="Enter category name">
      <mat-error *ngIf="categoryForm.get('name')?.errors?.['required']">Category name is required</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" type="submit" 
          (click)="handleSubmit()" 
          [disabled]="!(categoryForm.valid && categoryForm.dirty)">
    {{action}}
  </button>
  <button mat-raised-button mat-dialog-close class="close-btn">
    Cancel
  </button>
</mat-dialog-actions>
  
